<h1>Bonjour ! Veuillez confirmer votre email !</h1>

<p>
    Cliquez sur le lien suivant afin de confirmer votre email : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
