{% extends 'base.html.twig' %}

{% block title %}Hello CreateQuizzController!{% endblock %}

{% block body %}
    <a href="/" class="boutons_grey">Accueil</a>
    <a href="/user/profile" class="boutons_grey">Profil</a>
    {% if is_granted('ROLE_ADMIN')%}
    <a href="{{ path('app_categorie_index') }}" class="boutons_grey">Revenir au listing</a>
    {% endif %}
    <div>
        {{ form_start(form) }}
        <button type="submit" class="boutons_green">Create</button>
        {{ form_end(form) }}
    </div>



{% endblock %}
