{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Edit Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_categorie_index') }}" class="boutons_grey">Revenir au listing</a>
    <a href="/" class="boutons_grey">Accueil</a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
